html {
  --z-index-spross-popup: 1000;
  --z-index-spross-message: 1010;
  --spross-message-width: 356px;
  --spross-message-gap: 14px;
}

/* ==========================================================================
    Popover & Tooltip
   ========================================================================== */

[data-spross-popup] {
  z-index: var(--z-index-spross-popup);
}

[data-spross-popup-content] {
  position: relative;
  width: max-content;
  max-width: 250px;
  min-height: 28px;
  font-size: 13px;
  overflow-wrap: break-word;
  white-space: pre-line;
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0 6px 15px rgba(0, 0, 0, 0.05));
}

[data-spross-popup-arrow] {
  position: absolute;
}

[data-spross-popup-arrow-outer-stroke] {
  fill: rgba(0, 0, 0, 0.06);
}

[data-spross-popup-content] {
  transition-property: opacity, transform;
}
[data-spross-popup-content][data-status='open'],
[data-spross-popup-content][data-status='close'] {
  transition-duration: 0.12s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

[data-spross-popup-content][data-status='initial'],
[data-spross-popup-content][data-status='close'] {
  opacity: 0;
}

[data-spross-popup-content][data-arrowed='true'][data-status='initial'],
[data-spross-popup-content][data-arrowed='true'][data-status='close'] {
  transform: scale(0.8);
}

[data-spross-popup-content][data-arrowed='false'][data-status='initial'][data-placement^='top'],
[data-spross-popup-content][data-arrowed='false'][data-status='close'][data-placement^='top'] {
  transform: translate3d(0, 4px, 0);
}

[data-spross-popup-content][data-arrowed='false'][data-status='initial'][data-placement^='bottom'],
[data-spross-popup-content][data-arrowed='false'][data-status='close'][data-placement^='bottom'] {
  transform: translate3d(0, -4px, 0);
}

[data-spross-popup-content][data-arrowed='false'][data-status='initial'][data-placement^='left'],
[data-spross-popup-content][data-arrowed='false'][data-status='close'][data-placement^='left'] {
  transform: translate3d(4px, 0, 0);
}

[data-spross-popup-content][data-arrowed='false'][data-status='initial'][data-placement^='right'],
[data-spross-popup-content][data-arrowed='false'][data-status='close'][data-placement^='right'] {
  transform: translate3d(-4px, 0, 0);
}

[data-spross-popup][data-placement^='top'][data-arrowed='true'] {
  padding-bottom: 12px;
}

[data-spross-popup][data-placement^='top'][data-arrowed='false'] {
  padding-bottom: 4px;
}

[data-spross-popup][data-placement^='top'] [data-spross-popup-arrow] {
  bottom: -8px;
  transform: rotate(180deg);
}

[data-spross-popup][data-placement^='bottom'][data-arrowed='true'] {
  padding-top: 12px;
}

[data-spross-popup][data-placement^='bottom'][data-arrowed='false'] {
  padding-top: 4px;
}

[data-spross-popup][data-placement^='bottom'] [data-spross-popup-arrow] {
  top: -8px;
}

[data-spross-popup][data-placement^='left'][data-arrowed='true'] {
  padding-right: 12px;
}

[data-spross-popup][data-placement^='left'][data-arrowed='false'] {
  padding-right: 4px;
}

[data-spross-popup][data-placement^='left'] [data-spross-popup-arrow] {
  right: -13px;
  transform: rotate(90deg);
}

[data-spross-popup][data-placement^='right'][data-arrowed='true'] {
  padding-left: 12px;
}

[data-spross-popup][data-placement^='right'][data-arrowed='false'] {
  padding-left: 4px;
}

[data-spross-popup][data-placement^='right'] [data-spross-popup-arrow] {
  left: -13px;
  transform: rotate(-90deg);
}

[data-spross-reference] {
  display: inline-block;
}

/* type */
[data-spross-popup][data-type='popover'] [data-spross-popup-content] {
  padding: 20px;
  color: #1f1f1f;
  background-color: #fff;
}

[data-spross-popup][data-type='popover'] [data-spross-popup-arrow-fill] {
  fill: #fff;
}

[data-spross-popup][data-type='tooltip'] [data-spross-popup-content] {
  padding: 10px 12px;
  color: #fff;
  background-color: #404040;
}

[data-spross-popup][data-type='tooltip'] [data-spross-popup-arrow-fill] {
  fill: #404040;
}

/* ==========================================================================
    Message
   ========================================================================== */

[data-spross-message-container] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-spross-message);
  width: 100vw;
  opacity: 0;
  transform: translate3d(0, -68px, 0);
  transition: 0.25s cubic-bezier(0, 0, 0.2, 1) all;
}

[data-spross-message] {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: 54px;
  min-width: var(--spross-message-width);
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: inherit;
}

[data-spross-message]::after {
  content: '';
  position: absolute;
  left: 0;
  height: calc(var(--spross-message-gap) + 1px);
  bottom: 100%;
  width: 100%;
}

[data-spross-message-prefix-icon] {
  width: 20px;
  height: 20px;
}

[data-spross-message-content] {
  flex: 1;
  margin-left: 6px;
  font-size: 13px;
}

[data-spross-message-close-icon] {
  width: 18px;
  height: 18px;
  fill: hsl(220, 3%, 59%);
  cursor: pointer;
}

[data-spross-message-close-icon]:hover {
  fill: hsl(220, 3%, 45%);
}

[data-spross-message][data-spross-message-intent='success'] {
  background-color: #f6fff2;
  border-color: #d9fac8;
}

[data-spross-message][data-spross-message-intent='success'] [data-spross-message-prefix-icon] {
  fill: #07c160;
}

[data-spross-message][data-spross-message-intent='info'] {
  background-color: hsl(208, 100%, 97%);
  border-color: hsl(221, 91%, 93%);
}

[data-spross-message][data-spross-message-intent='info'] [data-spross-message-prefix-icon] {
  fill: hsl(210, 92%, 45%);
}

[data-spross-message][data-spross-message-intent='warning'] {
  background-color: hsl(49, 100%, 97%);
  border-color: hsl(49, 91%, 84%);
}

[data-spross-message][data-spross-message-intent='warning'] [data-spross-message-prefix-icon] {
  fill: hsl(31, 92%, 45%);
}

[data-spross-message][data-spross-message-intent='danger'] {
  background-color: hsl(359, 100%, 97%);
  border-color: hsl(359, 100%, 94%);
}

[data-spross-message][data-spross-message-intent='danger'] [data-spross-message-prefix-icon] {
  fill: hsl(360, 100%, 45%);
}
