html {
  --z-index-spross-modal: 1040;
  --z-index-spross-popup: 1050;
  --z-index-spross-message: 1060;
  --spross-message-width: 356px;
  --spross-message-gap: 14px;
}

[data-scrollbar-custom]::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

[data-scrollbar-custom]::-webkit-scrollbar-thumb {
  min-width: 14px;
  min-height: 14px;
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 14px;
}

[data-scrollbar-custom]::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

[data-scrollbar-custom]::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

[data-scrollbar-custom]::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/* ==========================================================================
    Popover & Tooltip
   ========================================================================== */

[data-spross-popup] {
  z-index: var(--z-index-spross-popup);
}

[data-spross-popup-content] {
  position: relative;
  width: max-content;
  max-width: 250px;
  min-height: 28px;
  font-size: 13px;
  overflow-wrap: break-word;
  white-space: pre-line;
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0 6px 15px rgba(0, 0, 0, 0.05));
}

[data-spross-popup-arrow] {
  position: absolute;
}

[data-spross-popup-arrow-outer-stroke] {
  fill: rgba(0, 0, 0, 0.06);
}

[data-spross-popup-content] {
  transition-property: opacity, transform;
}
[data-spross-popup-content][data-status='open'],
[data-spross-popup-content][data-status='close'] {
  transition-duration: 0.12s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

[data-spross-popup-content][data-status='initial'],
[data-spross-popup-content][data-status='close'] {
  opacity: 0;
}

[data-spross-popup-content][data-arrowed='true'][data-status='initial'],
[data-spross-popup-content][data-arrowed='true'][data-status='close'] {
  transform: scale(0.8);
}

[data-spross-popup-content][data-arrowed='false'][data-status='initial'][data-placement^='top'],
[data-spross-popup-content][data-arrowed='false'][data-status='close'][data-placement^='top'] {
  transform: translate3d(0, 4px, 0);
}

[data-spross-popup-content][data-arrowed='false'][data-status='initial'][data-placement^='bottom'],
[data-spross-popup-content][data-arrowed='false'][data-status='close'][data-placement^='bottom'] {
  transform: translate3d(0, -4px, 0);
}

[data-spross-popup-content][data-arrowed='false'][data-status='initial'][data-placement^='left'],
[data-spross-popup-content][data-arrowed='false'][data-status='close'][data-placement^='left'] {
  transform: translate3d(4px, 0, 0);
}

[data-spross-popup-content][data-arrowed='false'][data-status='initial'][data-placement^='right'],
[data-spross-popup-content][data-arrowed='false'][data-status='close'][data-placement^='right'] {
  transform: translate3d(-4px, 0, 0);
}

[data-spross-popup][data-placement^='top'][data-arrowed='true'] {
  padding-bottom: 12px;
}

[data-spross-popup][data-placement^='top'][data-arrowed='false'] {
  padding-bottom: 4px;
}

[data-spross-popup][data-placement^='top'] [data-spross-popup-arrow] {
  bottom: -8px;
  transform: rotate(180deg);
}

[data-spross-popup][data-placement^='bottom'][data-arrowed='true'] {
  padding-top: 12px;
}

[data-spross-popup][data-placement^='bottom'][data-arrowed='false'] {
  padding-top: 4px;
}

[data-spross-popup][data-placement^='bottom'] [data-spross-popup-arrow] {
  top: -8px;
}

[data-spross-popup][data-placement^='left'][data-arrowed='true'] {
  padding-right: 12px;
}

[data-spross-popup][data-placement^='left'][data-arrowed='false'] {
  padding-right: 4px;
}

[data-spross-popup][data-placement^='left'] [data-spross-popup-arrow] {
  right: -13px;
  transform: rotate(90deg);
}

[data-spross-popup][data-placement^='right'][data-arrowed='true'] {
  padding-left: 12px;
}

[data-spross-popup][data-placement^='right'][data-arrowed='false'] {
  padding-left: 4px;
}

[data-spross-popup][data-placement^='right'] [data-spross-popup-arrow] {
  left: -13px;
  transform: rotate(-90deg);
}

[data-spross-reference] {
  display: inline-block;
}

/* type */
[data-spross-popup][data-type='popover'] [data-spross-popup-content] {
  padding: 20px;
  color: #1f1f1f;
  background-color: #fff;
}

[data-spross-popup][data-type='popover'] [data-spross-popup-arrow-fill] {
  fill: #fff;
}

[data-spross-popup][data-type='tooltip'] [data-spross-popup-content] {
  padding: 10px 12px;
  color: #fff;
  background-color: #404040;
}

[data-spross-popup][data-type='tooltip'] [data-spross-popup-arrow-fill] {
  fill: #404040;
}

/* ==========================================================================
    Message
   ========================================================================== */

[data-spross-message-container] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-spross-message);
  width: 100vw;
  opacity: 0;
  transform: translate3d(0, -68px, 0);
  transition: 0.25s cubic-bezier(0, 0, 0.2, 1) all;
}

[data-spross-message] {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: 54px;
  min-width: var(--spross-message-width);
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: inherit;
}

[data-spross-message]::after {
  content: '';
  position: absolute;
  left: 0;
  height: calc(var(--spross-message-gap) + 1px);
  bottom: 100%;
  width: 100%;
}

[data-spross-message-prefix-icon] {
  width: 20px;
  height: 20px;
}

[data-spross-message-content] {
  flex: 1;
  margin-left: 6px;
  font-size: 13px;
}

[data-spross-message-close-icon] {
  width: 18px;
  height: 18px;
  fill: hsl(220, 3%, 59%);
  cursor: pointer;
}

[data-spross-message-close-icon]:hover {
  fill: hsl(220, 3%, 45%);
}

[data-spross-message][data-spross-message-intent='success'] {
  background-color: #f6fff2;
  border-color: #d9fac8;
}

[data-spross-message][data-spross-message-intent='success'] [data-spross-message-prefix-icon] {
  fill: #07c160;
}

[data-spross-message][data-spross-message-intent='info'] {
  background-color: hsl(208, 100%, 97%);
  border-color: hsl(221, 91%, 93%);
}

[data-spross-message][data-spross-message-intent='info'] [data-spross-message-prefix-icon] {
  fill: hsl(210, 92%, 45%);
}

[data-spross-message][data-spross-message-intent='warning'] {
  background-color: hsl(49, 100%, 97%);
  border-color: hsl(49, 91%, 84%);
}

[data-spross-message][data-spross-message-intent='warning'] [data-spross-message-prefix-icon] {
  fill: hsl(31, 92%, 45%);
}

[data-spross-message][data-spross-message-intent='danger'],
[data-spross-message][data-spross-message-intent='error'] {
  background-color: hsl(359, 100%, 97%);
  border-color: hsl(359, 100%, 94%);
}

[data-spross-message][data-spross-message-intent='danger'] [data-spross-message-prefix-icon],
[data-spross-message][data-spross-message-intent='error'] [data-spross-message-prefix-icon] {
  fill: hsl(360, 100%, 45%);
}

/* ==========================================================================
    Drawer
   ========================================================================== */

[data-spross-drawer-close-icon] {
  width: 24px;
  height: 24px;
  fill: hsl(220, 3%, 59%);
  cursor: pointer;
}

[data-spross-drawer-close-icon]:hover {
  fill: hsl(220, 3%, 45%);
}

[data-spross-modal-overlay='drawer'] {
  z-index: var(--z-index-spross-modal);
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden !important;
}

[data-spross-modal-overlay='dialog'] {
  z-index: var(--z-index-spross-modal);
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  /* place-items: center; */
}

[data-spross-drawer-content] {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  pointer-events: initial;
  overflow: auto;
  transition-property: transform;
}

[data-spross-drawer-content][data-spross-drawer-placement='left'],
[data-spross-drawer-content][data-spross-drawer-placement='right'] {
  top: 0;
  bottom: 0;
  min-width: 200px;
}

[data-spross-drawer-content][data-spross-drawer-placement='left'] {
  left: 0;
}

[data-spross-drawer-content][data-spross-drawer-placement='right'] {
  right: 0;
}

[data-spross-drawer-content][data-spross-drawer-placement='top'],
[data-spross-drawer-content][data-spross-drawer-placement='bottom'] {
  left: 0;
  right: 0;
  min-height: 280px;
}

[data-spross-drawer-content][data-spross-drawer-placement='top'] {
  top: 0;
}

[data-spross-drawer-content][data-spross-drawer-placement='bottom'] {
  bottom: 0;
}

[data-spross-modal-overlay][data-status='open'],
[data-spross-modal-overlay][data-status='close'] {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
}

[data-spross-modal-overlay][data-status='initial'],
[data-spross-modal-overlay][data-status='close'] {
  background: rgba(0, 0, 0, 0);
}

[data-spross-drawer-content][data-status='open'],
[data-spross-drawer-content][data-status='close'] {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
}

[data-spross-drawer-content][data-spross-drawer-placement='right'][data-status='initial'],
[data-spross-drawer-content][data-spross-drawer-placement='right'][data-status='close'] {
  transform: translate3d(100%, 0, 0);
}

[data-spross-drawer-content][data-spross-drawer-placement='left'][data-status='initial'],
[data-spross-drawer-content][data-spross-drawer-placement='left'][data-status='close'] {
  transform: translate3d(-100%, 0, 0);
}

[data-spross-drawer-content][data-spross-drawer-placement='top'][data-status='initial'],
[data-spross-drawer-content][data-spross-drawer-placement='top'][data-status='close'] {
  transform: translate3d(0, -100%, 0);
}

[data-spross-drawer-content][data-spross-drawer-placement='bottom'][data-status='initial'],
[data-spross-drawer-content][data-spross-drawer-placement='bottom'][data-status='close'] {
  transform: translate3d(0, 100%, 0);
}

[data-spross-drawer-steps] {
  position: relative;
  overflow: hidden;
  transition: height 0.4s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-spross-drawer-step] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

[data-spross-drawer-steps][data-spross-drawer-step-transition-type='fade'],
[data-spross-drawer-step][data-spross-drawer-step-transition-type='fade'] {
  transition: all 0.4s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-spross-drawer-steps][data-spross-drawer-step-transition-type='slide'],
[data-spross-drawer-step][data-spross-drawer-step-transition-type='slide'] {
  transition: all 0.8s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-spross-drawer-step][data-spross-drawer-step-transition-type='fade'][data-spross-drawer-step-prev='true'],
[data-spross-drawer-step][data-spross-drawer-step-transition-type='fade'][data-spross-drawer-step-next='true'] {
  opacity: 0;
}

[data-spross-drawer-step][data-spross-drawer-step-transition-type='fade'][data-spross-drawer-step-active='true'] {
  opacity: 1;
}

[data-spross-drawer-step][data-spross-drawer-step-transition-type='slide'][data-spross-drawer-step-prev='true'] {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
[data-spross-drawer-step][data-spross-drawer-step-transition-type='slide'][data-spross-drawer-step-next='true'] {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

[data-spross-drawer-step][data-spross-drawer-step-transition-type='slide'][data-spross-drawer-step-active='true'] {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[data-spross-dialog-content-wrapper] {
  margin: auto;
  width: fit-content;
  min-width: 520px;
  min-height: 380px;
  padding: 50px;
  pointer-events: none;
  transition-property: opacity, transform;
}

[data-spross-dialog-content] {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: auto;
  pointer-events: initial;
  border-radius: 10px;
}

[data-spross-dialog-content-wrapper][data-status='open'],
[data-spross-dialog-content-wrapper][data-status='close'] {
  transition-duration: 0.15s, 0.3s;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
}

[data-spross-dialog-content-wrapper][data-status='initial'],
[data-spross-dialog-content-wrapper][data-status='close'] {
  opacity: 0;
  transform: scale(0.75);
}

/* ==========================================================================
    Select
   ========================================================================== */
[data-spross-select-input-wrapper] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  height: 44px;
  box-shadow: 0 1px 0 0 #e4e4e7;
}

[data-spross-select-input] {
  flex: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
}

[data-spross-select-input]::placeholder {
  color: #71717a;
}

[data-spross-select-input]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

[data-spross-select-input-icon] {
  flex: none;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

[data-spross-select-empty] {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  font-size: 14px;
}

[data-spross-select-list] {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

[data-spross-select-group] {
  overflow: hidden;
  padding: 4px;
  color: #09090b;
}

[data-spross-select-group] [cmdk-group-heading] {
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 500;
  color: #71717a;
}

[data-spross-select-item] {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  padding: 6px 8px;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  user-select: none;
}

[data-spross-select-item] svg {
  flex: none;
  pointer-events: none;
  width: 16px;
  height: 16px;
}

[data-spross-select-item][data-disabled='true'] {
  pointer-events: none;
  opacity: 0.5;
}

[data-spross-select-item][data-selected='true'] {
  background-color: #f4f4f5;
  color: #18181b;
}

/* ==========================================================================
    DatePicker
   ========================================================================== */

[data-spross-date-picker-caption-nav] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  height: 48px;
  box-shadow: 0 -1px 0 #e6e6e6 inset;
}

[data-spross-date-picker-caption-nav-prev],
[data-spross-date-picker-caption-nav-next] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

[data-spross-date-picker-caption-nav-prev] {
  transform: rotate(90deg);
}

[data-spross-date-picker-caption-nav-next] {
  transform: rotate(-90deg);
}

.rdp-root {
  position: relative;
  width: 242px;
}

.rdp-months {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
